.sfe-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .sfe-head {
    font-size: 34px;
  }
  &__out {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 32px 0;
  }
  &__logocontent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
  }
  &__logo {
    width: 20%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__para {
    margin-top: 12px;
    width: 70%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 28px;
    font-weight: 400;
  }
  &__formout {
    width: 40%;
  }

  /* form */
  .form-container {
    background-color: #fff;
    width: 100%;
    max-width: 450px;
    padding: 40px 30px;
    border-radius: 24px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
  }

  .form-container h2 {
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .input-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 15px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.02);
  }

  .input-group i {
    color: #d82b33;
    font-size: 1.2rem;
    width: 30px;
    text-align: center;
    margin-right: 15px;
  }

  .input-group input,
  .input-group select {
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.95rem;
    color: #333;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .input-group select {
    width: 300px;
    cursor: pointer;
  }

  .input-group input::placeholder {
    color: #a0a0a0;
    font-weight: 500;
  }

  .select-group {
    position: relative;
  }

  .select-group::after {
    content: "";
    font-weight: 900;
    position: absolute;
    right: 20px;
    background-image: url("/assets/images/dropdown-angle.svg");
    height: 30px;
    width: 30px;
    background-size: contain;
    pointer-events: none;
    transition: transform 0.3s ease;
  }

  .select-group.open::after {
    transform: translateY(-5%) rotate(180deg);
  }
  .submit-btn {
    width: 100%;
    background-color: #d92127;
    color: #ffffff;
    border: none;
    padding: 16px;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #b9242b;
  }

  .secure-notice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    color: #111;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .secure-notice i {
    margin-right: 8px;
    font-size: 0.9rem;
  }
  /*  */

  .features {
    display: flex;
    align-items: flex-start;
  }

  .feature-item {
    text-align: center;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      padding-left: 0;
    }
  }

  .feature-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 100px;
    background: #ddd;
  }

  .icon {
    margin-bottom: 20px;
    width: 50px;
    img {
      width: 100%;
      height: 50px;
    }
  }

  .feature-item h4 {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    margin-bottom: 6px;
  }

  .feature-item p {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    line-height: 1.3;
  }

  .form-icon {
    width: 30px;
    margin-right: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* 125% */
@media (min-width: 1200px) and (max-width: 1300px) {
  .sfe-banner {
    .sfe-head {
      font-size: 28px;
    }
    &__out {
      padding-top: 30px;
    }
    &__para {
      font-size: 14px;
      line-height: 22px;
    }
    .form-container h2 {
      font-size: 20px;
    }
    .form-container {
      padding: 14px 30px;
    }
    .submit-btn {
      padding: 10px;
      font-size: 15px;
    }
    .input-group {
      padding: 10px;
    }
    &__logocontent {
      gap: 20px;
    }
  }
  .feature-item h4 {
    font-size: 14px !important;
  }
  .feature-item p {
    font-size: 14px !important;
  }
}
/* 110% */
@media (min-width: 1350px) and (max-width: 1400px) {
  .sfe-banner {
    .sfe-head {
      font-size: 32px;
    }
    &__para {
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 24px;
    }
    .form-container {
      padding: 14px 30px;
    }
    .input-group {
      padding: 10px;
    }
  }
  .feature-item h4 {
    font-size: 14px !important;
  }
  .feature-item p {
    font-size: 14px !important;
  }
}

@include tablet-pro {
  .sfe-banner {
    min-height: auto;
    .sfe-head {
      font-size: 30px;
    }
    &__para {
      width: 100%;
    }
    .form-container h2 {
      font-size: 20px;
    }
    &__logocontent {
      justify-content: start;
      gap: 34px;
    }
    .feature-item {
      padding: 0 14px;
    }
  }
  .feature-item h4 {
    font-size: 12px !important;
  }
  .feature-item p {
    font-size: 12px !important;
  }
}

@include tablet {
  .sfe-banner {
    min-height: auto;

    &__logo {
      width: 40%;
    }
    .sfe-head {
      font-size: 26px;
    }
    &__para {
      width: 90%;
    }
    &__logocontent {
      width: 50%;
    }
    &__formout {
      width: 50%;
    }
    &__logocontent {
      justify-content: start;
      gap: 100px;
    }
    .form-container h2 {
      font-size: 18px;
    }
    .features {
      transform: translateX(50px);
    }
  }
}

@include mobile {
  .sfe-banner {
    &__logo {
      width: 40%;
    }
    &__out {
      flex-direction: column;
    }
    &__logocontent {
      width: 100%;
    }
    &__para {
      width: 100%;
      font-size: 16px;
      line-height: 26px;
    }
    &__formout {
      width: 100%;
      margin-top: 16px;
    }
    .features {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
    }
    .feature-item:first-child {
      padding-left: 20px;
    }
    .feature-item:not(:last-child)::after {
      display: none;
    }
  }
}
